<section class="py-5 text-center " style="background-color: #0369cf; color: white;">
    <div class="row py-lg-5" >
      <div class="col-lg-6 col-md-8 mx-auto" style="color: white;">
        <h1 class="fw-light">Ramiro Edwin Ortiz Ugarte</h1>
        <h3 class="fw-light">Ing Software</h3>
        <br>
        <p  style="color: white;">Soy un ingeniero comprometido con lo que hago y decidido a entregar lo mejor de mi.</p>
        <br>
        <p>
          <a href="#" class="btn btn-primary my-2" style="margin-right: 20px;">Sobre mi</a>
          <a href="#" class="btn btn-secondary my-2">Contacto</a>
        </p>
      </div>
    </div>
  </section>

  <div class="col-lg-4" style="width: 100%; display: flex; align-items: center; flex-direction: column; margin-top: 20px; margin-bottom: 20px;">
    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/Images/imagen.jpg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"/>
    <h2 class="fw-normal">Edwin Ugarte</h2>
    <p style="width: 300px; text-align: center;">Siempre aceptando nuevos retos, ambicioso por conocer algo nuevo</p>
  </div>

  <div class="py-4">

    <div class="p-5 mb-4  rounded-3" style="background-color: #0369cf; color: white;">
      <div class="container-fluid py-5" >
        <h1 class="display-5 fw-bold">Ing de Software</h1>
        <p class="col-md-8 fs-4">Egresado de la Universidad Autonoma del Estado de Hidalgo</p>
      
      </div>
    </div>

    <div class="row align-items-md-stretch" >
      <div class="col-md-6" >
        <div class="h-100 p-5 rounded-3" style="background-color: #043464; color: white;">
          <h2>Un poco sobre mi</h2>
          <p>Soy Ingeniero recién egresado de la carrera de Ingeniería de Software, con
            experiencias en diferentes entornos, con muchas ganas de conocer y
            aprender mas.
            Me gusta socializar y comunicarme con mis equipos de trabajo, caminar de
            la mano para lograr juntos el objetivo deseado.
            </p>
         
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Aptitudes:</h2>
          <p>-Analitico</p>
          <p>-Creativo</p>
          <p>-Responsable</p>
          <p>-Atento</p>
        </div>
      </div>
    </div>

  
  </div>
