<footer  style="background-color: rgb(231, 231, 231);">
    <div class="footer" style="display: flex; padding: 20px;">
      <div  style=" display: flex; justify-content: center; flex-direction: column;">
        <img src="/assets/Images/logo.jpg" width="100%" class="altura" alt="logo" />
        <small class="d-block mb-3 text-muted">© 2017–2022</small>
      </div>

      <div>
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li>Telefono: 7731668021</li>
          <li>Email: edwin.ugarte1120@gmail.com</li>
        </ul>
      </div>
    </div>
  </footer>