<footer class=" py-5" style="background-color: rgb(231, 231, 231);">
    <div class="row">
      <div class="col-12 col-md" style="margin-left: 50px;">
        <img src="/assets/Images/logo.jpg" width="90px" height="60px" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"/>
        <small class="d-block mb-3 text-muted">© 2017–2022</small>
      </div>

      <div class="col-6 col-md">
        <h5>Contacto</h5>
        <ul class="list-unstyled text-small">
          <li>Telefono: 7731668021</li>
          <li>Email: edwin.ugarte1120@gmail.com</li>
        </ul>
      </div>
    </div>
  </footer>