<div  style="background-color: #045EB8;">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/inicio" class="nav-link" style="color: white;" aria-current="page">Inicio</a></li>
        <li class="nav-item"><a routerLink="/sobre" class="nav-link" style="color: white;">Sobre Mi</a></li>
        <li class="nav-item"><a routerLink="/contacto" class="nav-link" style="color: white;">Contacto</a></li>
      </ul>
    </header>
  </div>

  