<div>
  <div
    style="
      color: aliceblue;
      text-align: center;
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
      padding: 5%;
    "
  >
    <div>
      <div
        style="
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          margin-bottom: 20px;
        "
      >
        <img
          class="bd-placeholder-img rounded-circle"
          width="140"
          height="140"
          src="/assets/Images/imagen.jpg"
          role="img"
          aria-label="Placeholder: 140x140"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        />
        <h2 class="fw-normal">Ramiro Edwin Ortiz Ugarte</h2>
      </div>
      <p class="lead fw-normal">"Un poco sobre mi"</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div
      class="product-device product-device-2 shadow-sm d-none d-md-block"
    ></div>
  </div>

  <div class="d-md-flex w-100 my-md-3 ps-md-3">
    <div
      class="text-center overflow-hidden"
      style="
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      "
    >
      <div class="my-3 py-3">
        <h2 class="display-5">Ingeniero de Software</h2>
        <p class="lead">
          Orgullosamente egresado de la Universida Autonoma del Estado de
          Hidalgo
        </p>
      </div>
      <img
        src="/assets/Images/uaeh_logo.png"
        alt="Universidad_logo"
        class="cardHero"
      />
    </div>
  </div>
  <div
    style="
      background-color: #045eb8;
      color: aliceblue;
      height: 10vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      font-family: Roboto Slab, serif;
      font-weight: bold;
    "
  >
    Experiencia
  </div>

  <div
    style="
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    "
  >
    <div
      class="CardWidth"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2583e0;
        color: aliceblue;
        text-align: center;
      "
    >
      <div class="my-3 p-3">
        <h2 class="display-5">Servicio Social</h2>
        <p class="lead">Puesto: Mantenimiento en equipo de computo.</p>
        <p style="font-size: 13px">Periodo: Enero 2021 - Junio 2021</p>
      </div>
      <div
        style="
          width: 90%;
          height: 300px;
          border-radius: 21px 21px 0px 0px;
          background-image: url(/assets/Images/Card1.jpg);
          background-size: cover;
        "
      ></div>

      <div style="width: 90%; background: white">
        <div style="font-size: 28px; margin: 10px; color: black">
          Actividades:
        </div>
        <div class="list-group" style="text-align: center">
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Instalación, Configuración y Optimización
            </div>
            <p class="mb-1">
              Para que los equipos funcionen en las optimas condiciones de
              trabajo, tal y como lo marca el fabricante
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Efectuar mantenimiento preventivo
            </div>
            <p class="mb-1">
              Para equipos de cómputo, según el manual técnico del fabricante.
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Efectuar mantenimiento correctivo
            </div>
            <p class="mb-1">
              Junto con la actualización de componentes en hardware de
              computadoras, según el manual técnico del fabricante
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Instalar y configurar dispositivos de interconexión de red
            </div>
            <p class="mb-1">
              Basadas en cobre y tecnología inalámbrica de acuerdo a las
              condiciones establecidas por el fabricante y las necesidades del
              cliente.
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Instalar y configurar dispositivos de interconexión de red
            </div>
            <p class="mb-1">
              Basadas en cobre y tecnología inalámbrica de acuerdo a las
              condiciones establecidas por el fabricante y las necesidades del
              cliente.
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Administrar proyectos de tecnologías de la información
            </div>
            <p class="mb-1">
              Para que cumplan con los requerimientos del cliente.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="CardWidth"
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2583e0;
        color: aliceblue;
        text-align: center;
      "
    >
      <div class="my-3 p-3">
        <h2 class="display-5">Practicas Profesionales</h2>
        <p class="lead">Puesto: Desarrollo Web</p>
        <p style="font-size: 13px">Periodo: Julio 2021 - Diciembre 2021</p>
      </div>
      <div
        style="
          width: 90%;
          height: 300px;
          border-radius: 21px 21px 0px 0px;
          background-image: url(/assets/Images/desarrollo-web.png);
          background-size: cover;
        "
      ></div>

      <div style="width: 90%; background: white">
        <div style="font-size: 28px; margin: 10px; color: black">
          Actividades:
        </div>
        <div class="list-group" style="text-align: center">
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Creación de un portafolio utilizando el framework de React
            </div>
            <p class="mb-1">
              Se ha creado, un portafolio de evidencias con React y se realizo de manera responsiva
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Se hizo un analisis de sitios
            </div>
            <p class="mb-1">
              Se analizaron los sitios que ya tenian creados, para determinar carencias
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Detección de errores
            </div>
            <p class="mb-1">
              Junto con mi equipo, detectamos errores de carga y performance
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Recreación de los sitios
            </div>
            <p class="mb-1">
              Se decidio tomar la decisión de recrear los sitios desde 0 ya que estaban diseñados con wordpress y se opto utilizar un framework de nueva generación como React para mejorar el performance
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
            Se utilizo programación por componentes
            </div>
            <p class="mb-1">
              Se crean los bloques del sitio para tener un codigo limpio y estructurado
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Se trabajo con versionado en Git
            </div>
            <p class="mb-1">
              El proyecto llevo una metodologia de trabajo por ramas para hacer las versiones y despues unirlas a la rama principal(Producción)
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-md-flex w-100 my-md-3 ps-md-3" style="padding: 20px">
      <div
        class="text-center overflow-hidden"
        style="
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
        "
      >
        <div class="my-3 py-3">
          <h2 class="display-5">Desarrollo de App Web</h2>
          <p class="lead">Puesto: Desarrollador full stack</p>
        </div>
        <div
          class="cardHero"
          style="
            background-image: url(/assets/Images/app.jpg);
            background-size: cover;
          "
        ></div>
      </div>

      <div
        style="
          width: 100%;
          background: white;
          display: flex;
          justify-content: center;
          flex-direction: column;
        "
      >
        <div
          style="
            font-size: 28px;
            margin: 10px;
            color: black;
            text-align: center;
          "
        >
          Actividades:
        </div>
        <div class="list-group" style="text-align: center">
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Se hizo un estudio de campo
            </div>
            <p class="mb-1">
              Para determinar las necesidades en las cuales podría haber una
              mejora implementando una aplicación web administrativa
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Con el framework de Spring Boot, JAVA, Hibernate, MySQL y la
              biblioteca Thymeleaf
            </div>
            <p class="mb-1">
              Se creo una aplicación en local para administrar a los empleados y
              la biblioteca de proyectos en curso.
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Con la aprobación se decidió llevar la aplicación a un ambiente
              Full Stack
            </div>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Creación de API REST con Spring Boot, JAVA y Hibernate
            </div>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Diseño web en el framework de Angular Js creando una SPA
            </div>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Teniendo construidos BACKEND Y FRONTEND
            </div>
            <p class="mb-1">
              Se realizo el consumo del API REST para al final poder subir a un
              hosting la aplicación completa y que el cliente la pudiera
              consumir desde cualquier lugar y entorno (PC, Movil, Tablet).
            </p>
          </div>
          <div class="list-group-item itemDiv">
            <div style="font-weight: bold; margin: 5px 0px">
              Administrar proyectos de tecnologías de la información
            </div>
            <p class="mb-1">
              Para que cumplan con los requerimientos del cliente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
